{% extends 'base.html' %}

{% load static %}


<html>
  
    
 
    
    {% block header1 %}
    <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>
                <ul></ul>
                <a href="{% url 'story5:addcourse' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">ADD COURSE</button></a>
                
                <a href="{% url 'main:contact' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">CONTACT</button></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}
            <h2 id='font-color'>COURSE LIST
                {% for item in object_list %}
                <tr>
                    <th scope="row"></th>
                    <td><h1><a href="{% url 'story5:detailcourse' item.id %}"><span id='font-color'>{{item.Course}}</span></a></h1></td>
                    <td><a href="{% url 'story5:deletecourse' item.id %}"><button type="delete" id="buttonpink" class="btn btn-default">Delete Course</button></a></td>
                </tr>
                {% endfor %}
            </h2>

    {% endblock content %}
        
       
        {% block header3 %}

            <h3 class="h3">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                    <div class="center">
                        <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                            <i class="fab fa-instagram" id="link2"></i></a>
        
                            <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                            <i class="fab fa-linkedin"  id="link1"></i></a>
                            
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                            <i class="fas fa-envelope" id="link1"></i></a>
                            
                            <i class="fab fa-line" id="link1"></i>
                    </div>
            </h3>

        {% endblock header3 %}
        
  

            </h4>

             
                
            </h4>
   </body>
   </html>