.h1{
    text-align: center;
    padding: 40px; 
    border-style: groove; 
    border-color: black;
    background-color: #000000;
    color: #FF0C55;
}

.h1hello{
    margin-top:90px;margin-left:150px;font-family: Pompiere;font-size: 50px;color: #E8514F;
}

.h1kay{
    margin-top:70px;margin-left:250px;font-family: Pompiere;font-size: 50px;color: #FF0C55;
}

.h2{
    padding: 20px;
  
}

#buttonhomepink{
    position: fixed;left: 750px;top: 50px;width:250px;background: #FF0C55;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);font-family: Pompiere;font-size: large;color:#000000
}

#buttonhomepink2{
    position: fixed;left: 880px;top: 110px;background: #FF0C55;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);width:250px;font-family: Pompiere;font-size: large;color:#000000
}

#buttonhomepink3{
    position: fixed;left: 620px;top: 210px;background: #FF0C55;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);width:250px;font-family: Pompiere;font-size: large;color:#000000
}

#buttonhomeorange{
    position: fixed;left: 620px;top: 110px;background: #E8514F;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);width:250px;font-family: Pompiere;font-size: large;color:#000000
}

#buttonhomeorange2{
    position: fixed;left: 880px;top: 210px;background: #E8514F;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);width:250px;font-family: Pompiere;font-size: large;color:#000000
}

#buttonhomeorange3{
    position: fixed;left: 750px;top: 270px;background: #E8514F;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);width:250px;font-family: Pompiere;font-size: large;color:#000000
}

.h2contact{
    padding: 100px;text-align: center;background: #FF0C55;border: 2px solid #000000;backdrop-filter: blur(4px);font-family: Pompiere;color: #000000;font-size: 40px;
}

.h2home{
    padding: 20px;margin-top: 100px;text-align: center;background: #FF0C55;border: 2px solid #000000;backdrop-filter: blur(4px);font-family: Pompiere;color: #000000;font-size: 40px;
}

.h3{
    padding: 20px;margin-top: 50px;text-align: center;background: #FF0C55;border: 2px solid #000000;backdrop-filter: blur(4px);font-family: Pompiere;color: #000000;font-size: 40px;
}

.body{
    background-color: #000000;
}
.shape {
    position: absolute;
    width: 550px;
    height: 210px;
    background: #E8514F;
    margin-left: 460px;
    top: 215px;
    text-align: center;
}

#imgex{
    width:70;
    height:70;
    margin-left:70px
}

#p{
    font-family: Pompiere;font-size: 20px;color:black;
}

#imgaboutme{
    width:200;
    height:200;
    margin-left:200px
}

#tableex{
    margin-left:160px;
    width : 80%;

}

.tableed{
    margin-left:160px;
    width : 100%
}

#spantable{
    color: #FF0C55;font-family: Pompiere;font-size: 20px;
}

#font-color{
    color:#FF0C55;
}

#td{
    color: #FF0C55;font-family: Pompiere;font-size: 20px;height: 100px;
}

#tded{
    color: #FF0C55;font-family: Pompiere;font-size: 20px;height: 50px;
}

.center { 
    text-align:center; 
    width:100%; 
}

img {
border-radius: 50%;
}

#card1{
    width: 30;height:200;padding-left:100;
}


#font-card{
    font-family: pompiere;font-size: 30;
}

a:link {
    color: black;
    }

    /* visited link */
    a:visited {
    color: black;
    }

    /* selected link */
    a:active {
    color: black;
    }

#buttonpink{
    width:150px;
    background: #FF0C55;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Pompiere;
    font-size: large;
    color:#000000
    
}

#buttonorange{
    width:150px;background: #E8514F;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);font-family: Pompiere;font-size: large;color:#000000
}

#link1{
    font-size:50px;margin-left: 20px; text-align: center;margin-top: 20px;
}

#teks{
    text-align: center;
}

#link2{
    font-size:50px;margin-top: 20px;
}

#copyright{
    font-size:15px;margin-top: 5px;color:#FF0C55
}

#span{
    color: #FF0C55
}