{% load static %}


<html>
    <head>
        <title>RESUME</title>
        <style>
            .header {
                padding: 40px;
                text-align: center;
                background: #1abc9c;
                color: white;
                font-size: 20px;
            }

            .header2 {
                box-shadow: 4px 4px 4px #1abc9c;
                padding: 40px;
                text-align: center;
                background: #ffffff;
                font-size: 10px;
                font-family:'Courier New';
            }

            .content {
                padding: 40px;
                text-align: center;
                background: #1abc9c;
                color: white;
                font-size: 10px;
            }

            .paragraph {
                font-size: 15px;
                font-family:'Courier New';
            
            }

            .centre {
                margin-left: auto;
                margin-right: auto;
            }
            
            
        
        </style>
    </head>
    <body>
        <div class="header">
            <h1 style="text-align:center;font-family:'Courier New'">Kaysa Syifa Wijdan Amin</h1>
            <p style="text-align:center;font-family:'Courier New'">1906400362</p>
            <p style="text-align:center;font-family:'Courier New'">Computer Science Student at Universitas Indonesia</p>
        </div>

        <div class="header2">
                <img src="{% static 'img/MINGYU25.jpg' %}" alt="mingyuimage" class="centre" width="200" height="200">
                <h1><font color="green">ABOUT ME</h1></font>
            <p class="paragraph"> I'm a second year computer science student. I already learn java and python programming language and now I'm learning about html. I'm a first born in my family. I have one little brother.
                As a big sister and the first born, I need to set great example for my little brother. I need to be a person that could makes my parents life and everyone life's easier.
                I'm a hardworking student. I always try to think positively and try to learn everything that I could. 
            </p>
            <p class="paragraph"> I have hobbies that I do when I have some time off to refresh my mind, which are listening to music, 
                swimming, sleeping, watching k-dramas, movies, variety shows, and travelling or get out of the house to a coffe shop. 
                I do all of those things when I got spare time off, this makes me always set my mind to enjoy my life more despite all of the homework 
                that I should do.
            </p>
            <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
            <i class="fab fa-line" style="font-size:20px"></i><span class="paragraph">kaysa4701</span>
            <i class="fab fa-instagram" style="font-size:20px;padding-left:25px"></i><span class="paragraph">kaysasy_</span>
            <i class="far fa-envelope" style="font-size:20px;padding-left:25px"></i><span class="paragraph">kaysa.syifa@ui.ac.id</span>
            <i class="fas fa-phone-square-alt" style="font-size:20px;padding-left:25px"></i><span class="paragraph">087871055279</span>
            
        </div>

        
        <div class="content">
            <h1 style="text-align:center;font-family:'Courier New'">Riwayat Pendidikan</h1>
            <center><table width = "50%"></center>
                <tr>
                    <td class="paragraph"><font color="white">Universitas Indonesia</td></font>
                    <td class="paragraph"><font color="white">2019 - 2020</td></font>
                </tr>
                <tr>
                    <td class="paragraph"><font color="white">SMAN 86 Jakarta</td></font>
                    <td class="paragraph"><font color="white">2016 - 2019</td></font>
                </tr>
                <tr>
                    <td class="paragraph"><font color="white">SMPN 177 Jakarta</td></font>
                    <td class="paragraph"><font color="white">2013 - 2016</td></font>
                </tr>
                <tr>
                    <td class="paragraph"><font color="white">SDN 01 Pagi</td></font>
                    <td class="paragraph"><font color="white">2007 - 2013</td></font>
                </tr>
            </table>
    </div>
        
    </body>
</html>