{% extends 'base.html' %}

{% load static %}

<html>


        {% block header1 %}
        <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>
                <ul></ul>
                    <a href="{% url 'main:home' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">HOME</button></a>

                    <a href="{% url 'main:about' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">ABOUT ME</button></a>

                    <a href="{% url 'main:educations' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">EDUCATIONS</button></a>

                    <a href="{% url 'main:experiences' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">EXPERIENCES</button></a>

                    <a href="{% url 'main:project' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">PROJECT</button></a>

                    <a href="{% url 'main:contact' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">CONTACT</button></a>

            </h1>

        {% endblock header1 %}
    
        {% block content %}

        <h2 class="h2">
            <div class="card-deck">
                <div class="card" id="card1">
                    <div class="card-body">
                     <h5 class="card-title" id="font-card">STORY1</h5>
                    <p class="card-text"id="p">Let's take a look on my first website.</p>
                    <a href="{% url 'main:story1' %}" class="btn btn-secondary" id="buttonpink">LET'S GO</a>
                    </div>
                </div>
            
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title" id="font-card">STORY5</h5>
                        <p class="card-text"id="p">My Courses</p>
                        <a href="{% url 'story5:courses' %}" class="btn btn-secondary" id="buttonpink">LET'S GO</a>
                    </div>
                </div>

                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title" id="font-card">STORY6</h5>
                        <p class="card-text"id="p">The Event of TDD</p>
                        <a href="{% url 'Events:Events' %}" class="btn btn-secondary" id="buttonpink">LET'S GO</a>
                    </div>
                </div>

        </div>
        </h2>

        {% endblock content %}

        {% block header3 %}

        <h3 class="h3">FIND ME HERE
            <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                <div class="center">
                    <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                        <i class="fab fa-instagram" id="link2"></i></a>
    
                        <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                        <i class="fab fa-linkedin"  id="link1"></i></a>
                        
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                        <i class="fas fa-envelope" id="link1"></i></a>
                        
                        <i class="fab fa-line" id="link1"></i>
                </div>
        </h3>

        {% endblock header3 %}
  

            </h4>
                
            </h4>
        </body>
</html>